@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
	background-color: rgb(235, 163, 163);
	background-size:contain;
	
	height: 50vh;
    font-family: 'Kanit', sans-serif;
    
}




.container{
    min-height: 200px;
    position: relative;
}

.center{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.gifcontainer{
    border-top: 500px;
    height: 500px;
    padding-top: 150px;
    
}

.gifcenter{
    display: flex;
  justify-content: center;
  align-items:center;
  height: 200px;
}

.gifplayer{
    max-height: 500px;
    max-width: 100%;
}

.btn{
    background-color: rgb(190, 64, 64) ;
    padding: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: large;
    border-radius: 10px;
}

